{% extends 'base.html.twig' %}

{% block title %}React{% endblock %}

{% block body %}
    <style>
        html{
            background-color: #1e1b4b;
        }
        /* sf toolbar dev mode only */
        .wrapper,.sf-toolbar-clearer{
              background-color: #1e1b4b;
        }

    </style>
    <div {{ react_component('HomeComponent') }} class=" bg-indigo-950 text-sky-500"></div>

{% endblock %}
