{% extends "back/base_back.html.twig" %}

{% block title %}
	Statistiques
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="">statistiques</a>
	</li>
{% endblock %}
{% block back_main_content %}
<div class="row">

		
		
	
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	
{% endblock %}