// https://flatuicolors.com/palette/ca
$nasu_purple: #5f27cd;
$bluebell: #341f97;
$darkmontainmeadow: #10ac84;
$wildcaribbeangreen: #1dd1a1;
$aqua_velvet: #01a3a4;
$amour: #ee5253;
$pastel_red: #ff6b6b;
$double_dragon_skin: #ff9f43;
$casandora_yellow: #feca57;
$cyanite: #0abde3;
$megaman: #48dbfb;
$jade_do: #00d2d3;
$imperial_primer: #222f3e;
$light_blue_balleerina: #c8d6e5;
$fuel_town: #576574;

$red_flag:#E1000F;
$blue_flag: #000091;
$blue_flag_comp:#484D7A;
$blue_flag_comp-2: #00AC8C;
$blue_chart_0: #5770BE;
$green_chart_0: #169B62;
$pastel_chart_0:#FF8D7E;
$bord_chart_0: #7d4e5b;
$yellow_chart_0: #FDCF41;